
<a asp-action="Deposit" asp-controller="ATM">Deposit</a>
<br />
<br />
<a asp-action="Withdraw" asp-controller="ATM">Withdraw</a>
<br />
<br />
<a asp-action="ShowBalance" asp-controller="ATM">ShowBalance</a>
<br />
<br />
<a asp-action="ChangePwd" asp-controller="ATM">Change Password</a>
<br />
<br />
<a asp-action="MiniState" asp-controller="ATM">Mini StateMent</a>