@model ATM_EfCore_CodeFirst.Models.Bank_CustomersModel
<h1>Change Password</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePwd" ,asp-controller="ATM">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Balance">Welcome @ViewBag.CustomerName</label>
            </div>


            <div class="form-group">
                <label asp-for="Balance">AvailableBalance @ViewBag.availableBalance</label>
            </div>

            <div class="form-group">
                <label asp-for="Balance" class="text-danger">EfficentBalance @ViewBag.efficentBalance</label>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="MainPage">Back</a>
</div>
